$main-color : #333;
$color-while : while;

$background: rgb(214,122,226);
$background-linear: linear-gradient(0deg, rgba(214,122,226,1) 10%, rgba(253,187,45,1) 100%);

//bio
$tab-width : 570px;
$content-width : 450px;

$mobile-content-width : 250px;
$mobile-tab-width : 312px ;

$mobile-width: 600px;
$tablet-width: 1024px;